/* * * * * * * * * * * * * * * * * * * * * * * * * *
 * DON'T FORGET TO CACHE BURST WHEN MAKING CHANGES *
 * * * * * * * * * * * * * * * * * * * * * * * * * */


/* Setup
-------------------------------------------------- */

/* COLORS */
$main-color: #021859;
$emphasize-color-1: #07C7F2;
$emphasize-color-2: #B52072;
$text-color-dark: #021859;
$text-color-bright: #F2F2F2;
$section-emphasize: #bfe5fb;
$box-background: #f6f6f6;

/* MEDIA QUERIES */
$break-small: 577px;
$break-medium: 767px;
$break-large: 992px;


/* General (text-colors, section paddings, etc.)
-------------------------------------------------- */

/* Text */

body {
  color: $text-color-dark;
}

.text-bright {
  color: $text-color-bright;
}

.text-dark {
  color: $text-color-dark;
}

.text-emphasize {
  color: $emphasize-color-1;
}

/* Headlines */

h2.display-4 {
  margin-bottom: 1.5rem;

  @media screen and (max-width: $break-small) {
    font-size: 10vw;
  }
}

h3 {
  margin-bottom: 1.5rem;
}

/* Links */

a {
  color: $emphasize-color-1;
  transition: color ease 200ms;

  &:hover {
    text-decoration: none;
    color: $emphasize-color-2;
    transition: color ease 200ms;
  }
}

/* Section paddings and color */

.section {
  padding: 80px 0;

  @media screen and (max-width: $break-medium) {
    padding: 60px 0;
  }
}

.section-slim {
  padding: 20px 0;
}

.section-emphasize {
  background: $main-color;
}

.space60 {
  @media screen and (min-width: $break-large) {
    &.right {
      padding-right: 60px;
    }
    &.left {
      padding-left: 60px;
    }
  }

  @media screen and (min-width: $break-medium) and (max-width: $break-large - 1) {
    &.right {
      padding-right: 30px;
    }
    &.left {
      padding-left: 30px;
    }
  }
}

/* Google reCaptcha */

.grecaptcha-badge {
  display: none !important;
}


/* Buttons
-------------------------------------------------- */

.transparent-btn {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;

  &:hover {
    background-color: $text-color-bright;
    color: $main-color;
  }
}

.transparent-btn-dark {
  color: $emphasize-color-2;
  border-radius: 0;
  font-size: 1.1rem;

  &:hover {
    color: $text-color-dark;
  }
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background: $main-color;
  border-color: $main-color;
  border-width: 2px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background: $emphasize-color-2;
    border-color: $emphasize-color-2;
  }
}

.btn-light {
  background: $emphasize-color-1;
  border-color: $emphasize-color-1;
  color: $text-color-dark;
  border-width: 2px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: $text-color-bright;
    background: $emphasize-color-2;
    border-color: $emphasize-color-2;
  }
}

.btn-valign-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}


/* Sections
-------------------------------------------------- */

.flex-vcenter {
  flex-direction: column;
  justify-content: center;
}

.bottom-space-md {
  @media screen and (max-width: $break-medium) {
    margin-bottom: 40px;
  }
}

.bottom-space-lg {
  @media screen and (max-width: $break-large) {
    margin-bottom: 40px;
  }
}


/* Navbar
-------------------------------------------------- */

.floating-navbar {
  display: none;
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.hero-navbar {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (max-width: $break-medium) {
    display: none;
  }
}

.navbar-elements {
  list-style: none;

  li {
    text-align: right;
    padding: 5px 20px 5px 0;
    border-right: 2px solid white;
  }

  a {
    color: white;
    transition: padding-right ease 100ms;

    &:hover {
      text-decoration: none;
      padding-right: 5px;
    }
  }
}


/* Hero
-------------------------------------------------- */

.hero {
  background: $main-color;
  background: linear-gradient(37deg, rgba(65, 17, 74, 0.84), rgba(33, 68, 106, 0.68)), url("/images/hero-background.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 0;
  height: 100vh;
  position: relative;
  margin-bottom: 0;

  @media screen and (max-width: $break-medium) {
    h1 {
      font-size: 11vmin;
    }
    p {
      font-size: 3.5vmin;
    }
  }

  @media screen and (min-width: $break-medium) {
    padding: 120px;
  }

  @media screen and (max-width: $break-medium) {
    height: 70vh;
  }

  .position-bottom {
    position: absolute;
    bottom: 20px;
    color: $text-color-bright;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
  }
}


/* About
-------------------------------------------------- */

.profile {
  border-right: 1px solid #e5e5e5;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: $break-small) and (max-width: $break-medium) {
    flex-direction: row;
    align-items: center;
  }

  @media screen and (max-width: $break-medium) {
    border-right: none;
  }

  img {
    position: relative;
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 1rem;

    @media screen and (max-width: $break-small - 1) {
      max-width: 250px;
    }
  }

  h3 {
    margin-bottom: 5px;
    font-weight: 400;
  }
}

.med-6 {
  flex-basis: unset;

  @media screen and (min-width: $break-small) and (max-width: $break-medium) {
    flex-basis: 50%;
  }
}

.about {
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: $break-large) {
    margin-top: 30px;
  }
}

.testimonials-wrapper {
  overflow: hidden;
}

.testimonials {
  list-style: none;
  margin: 0;
  padding: 0;

  .element {
    display: none;
    padding: 20px 0 0 0;

    &.active {
      display: block;
    }

    .quote {
      font-size: 28px;
      font-style: italic;
      margin: 0;
      line-height: initial;
    }
    .author {
      font-style: italic;
      margin: 10px 0 0 0;
    }
  }
}


/* Skills
-------------------------------------------------- */

.progress {
  margin-bottom: 12px;
}

#skills {
  color: $text-color-bright;

  h2 {
    margin-bottom: 20px;
  }

  h6 {
    margin-top: 10px;
  }

  .progress {
    border-radius: 0;
    margin-bottom: 5px;
    max-height: 5px;
  }

  .progress-bar {
    padding-left: 10px;
    text-align: left;
    color: $main-color;
    background-color: $emphasize-color-1;
  }

  .progress-bar-tag {
    margin-bottom: 0;
    font-size: .8rem;
  }

  @media screen and (min-width: $break-medium) {
    .col-md-6:first-child {
      padding-right: 25px;
      border-right: 1px solid $text-color-bright;
    }

    .col-md-6:last-child {
      padding-left: 25px;
    }

    .row {
      margin-top: 20px;
    }
  }
}

.skill-element {
  text-align: center;

  .skill-icon {
    fill: $text-color-bright;
    max-width: 80%;
  }

  .skill-tag {
    margin-top: 10px;
    line-height: 1.2rem;
  }
}


/* Education and work experience
-------------------------------------------------- */

#education {
  ul {
    list-style: none;
    border-left: 2px solid;
    padding-left: 20px;
    margin-left: 20px;

    li {
      margin-bottom: 1.5rem;

      h6 {
        line-height: 0.6rem;
        font-weight: 600;
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}


/* Projects
-------------------------------------------------- */

#projects {
  .d-flex {
    @media screen and (max-width: $break-medium) {
      justify-content: center;
    }
  }

  @media screen and (max-width: $break-medium) {
    h1 {
      margin-bottom: 20px;
    }
  }
}


/* Contact form
-------------------------------------------------- */

.contact-form #message {
  height: 152px; /* Hardcoded (shame!) -> gonna fix later */
}

.vcard-wrapper {
  padding: 0 40px;

  @media screen and (min-width: $break-small) and (max-width: $break-large) {
    padding: 0;
  }
}

.vcard {
  text-align: center;
  padding: 40px;
  background: $box-background;
  flex-direction: column;

  .large-6 {
    flex-basis: unset;

    @media screen and (min-width: $break-small) and (max-width: $break-large) {
      flex-basis: 50%;
    }
  }

  @media screen and (min-width: $break-small) and (max-width: $break-large) {
    flex-direction: row;
    align-items: center;
  }

  img {
    position: relative;
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 2rem;
  }

  h3 {
    margin-bottom: 0;
  }
}


/* Footer
-------------------------------------------------- */

#footer .col-md-6 {
  @media screen and (max-width: $break-medium) {
    text-align: center;

    &:first-child {
      margin-bottom: 10px;
    }
  }
}

.copyright {
  margin: 0;
}

.footer-nav {
  list-style: none;

  @media screen and (max-width: $break-medium) {
    text-align: center;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
  }

  li {
    float: right;
    margin-left: 20px;

    @media screen and (max-width: $break-medium) {
      &:last-child {
        margin-left: 0;
      }
    }

    a {
      color: $text-color-bright;

      &:hover {
        color: $emphasize-color-1;
      }
    }
  }
}
