/*
 * Setup
 */
/*
 * General
 */
body {
  color: #252525;
}

.text-bright {
  color: #FAFAFA;
}

.text-emphasize {
  color: #1eb4f2;
}

.section {
  padding: 80px 0;
}

.section-emphasize {
  background: #1C344C;
}

.space60.right {
  padding-right: 60px;
}
.space60.left {
  padding-left: 60px;
}

.grecaptcha-badge {
  display: none !important;
}

/*
 * Links
 */
a {
  color: #1eb4f2;
  transition: color ease 200ms;
}
a:hover {
  text-decoration: none;
  color: #252525;
  transition: color ease 200ms;
}

/*
 * Headlines
 */
h2.display-4 {
  margin-bottom: 1.5rem;
}

h3 {
  margin-bottom: 1.5rem;
}

/*
 * Buttons
 */
.transparent-btn {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
}
.transparent-btn:hover {
  background-color: #FAFAFA;
  color: #1C344C;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background: #1eb4f2;
  border-color: #1eb4f2;
  border-width: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-primary:hover {
  background: none;
  border-color: #1eb4f2;
  color: #1eb4f2;
}

.btn-white {
  background: white;
  border: 2px solid #FAFAFA;
  color: #252525;
  transition: color ease 200ms;
}
.btn-white:hover {
  color: #252525;
  background: white;
  transition: color ease 200ms;
}

/*
 * Navbar
 */
.floating-navbar {
  display: none;
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.hero-navbar {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-elements {
  list-style: none;
}
.navbar-elements li {
  text-align: right;
  padding: 5px 20px 5px 0;
  border-right: 2px solid white;
}
.navbar-elements a {
  color: white;
  transition: padding-right ease 100ms;
}
.navbar-elements a:hover {
  text-decoration: none;
  padding-right: 5px;
}

/*
 * Hero
 */
.hero {
  background: #1C344C;
  background: linear-gradient(to top, rgba(22, 42, 64, 0.86), rgba(33, 68, 106, 0.68)), url(/images/hero-background.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 0;
  height: 100vh;
  position: relative;
  margin-bottom: 0;
}
.hero .position-bottom {
  position: absolute;
  bottom: 20px;
  color: #FAFAFA;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

/*
 * About section
 */
.profile {
  border-right: 1px solid #e5e5e5;
  flex-direction: column;
  justify-content: center;
}
.profile img {
  position: relative;
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.profile h3 {
  margin-bottom: 5px;
  font-weight: 400;
}

.about {
  flex-direction: column;
  justify-content: center;
}

.testimonials-wrapper {
  overflow: hidden;
}

.testimonials {
  list-style: none;
  margin: 0;
  padding: 0;
}
.testimonials .element {
  display: none;
  padding: 20px 0 0 0;
}
.testimonials .element.active {
  display: block;
}
.testimonials .element .quote {
  font-size: 28px;
  font-style: italic;
  margin: 0;
  line-height: initial;
}
.testimonials .element .author {
  font-style: italic;
  margin: 10px 0 0 0;
}

/*
 * Skills section
 */
.progress {
  margin-bottom: 12px;
}

#skills {
  color: white;
}
#skills h2 {
  margin-bottom: 20px;
}
#skills .progress {
  border-radius: 0;
}
#skills .progress-bar {
  padding-left: 10px;
  text-align: left;
  color: #1C344C;
  background-color: #1eb4f2;
}

/*
 * Education and work experience section
 */
#education ul {
  list-style: none;
  border-left: 2px solid;
  padding-left: 20px;
  margin-left: 20px;
}
#education ul li {
  margin-bottom: 1.5rem;
}
#education ul li h6 {
  margin-bottom: 0.2rem;
  font-weight: 600;
}
#education ul li:last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
