/*
 * Setup
 */

/*$main-color: #1C344C;
$emphasize-color-1: #1eb4f2;
$emphasize-color-2: #296199;
$text-color-dark: #252525;
$text-color-bright: #FAFAFA;
$text-color-gray: #FAFAFA;
$section-emphasize: #bfe5fb;*/

$main-color: #021859;
$emphasize-color-1: #07C7F2;
$emphasize-color-2: #B52072;
$text-color-dark: #021859;
$text-color-bright: #F2F2F2;
$section-emphasize: #bfe5fb;
$box-background: #EEEEEE;

/*
 * General
 */

body {
  color: $text-color-dark;
}

.text-bright {
  color: $text-color-bright;
}

.text-dark {
  color: $text-color-dark;
}

.text-emphasize {
  color: $emphasize-color-1;
}

.section {
  padding: 80px 0;
}

.section-slim {
  padding: 20px 0;
}

.section-emphasize {
  background: $main-color;
}

.space60 {
  &.right {
    padding-right: 60px;
  }
  &.left {
    padding-left: 60px;
  }
}

.grecaptcha-badge {
  display: none !important;
}

/*
 * Sections
 */

.flex-vcenter {
  align-items: center;
}

/*
 * Links
 */

a {
  color: $emphasize-color-1;
  transition: color ease 200ms;

  &:hover {
    text-decoration: none;
    color: $emphasize-color-2;
    transition: color ease 200ms;
  }
}

/*
 * Headlines
 */

h2.display-4 {
  margin-bottom: 1.5rem;
}

h3 {
  margin-bottom: 1.5rem;
}

/*
 * Buttons
 */

.transparent-btn {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;

  &:hover {
    background-color: $text-color-bright;
    color: $main-color;
  }
}

.transparent-btn-dark {
  color: $text-color-dark;
  border-radius: 0;

  &:hover {
    background-color: $text-color-bright;
    color: $main-color;
  }
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background: $main-color;
  border-color: $main-color;
  border-width: 2px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background: $emphasize-color-2;
    border-color: $emphasize-color-2;
  }
}

.btn-light {
  background: $emphasize-color-1;
  border-color: $emphasize-color-1;
  color: $text-color-dark;
  border-width: 2px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: $text-color-bright;
    background: $emphasize-color-2;
    border-color: $emphasize-color-2;
  }
}

.btn-valign-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

/*
 * Navbar
 */

.floating-navbar {
  display: none;
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.hero-navbar {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-elements {
  list-style: none;

  li {
    text-align: right;
    padding: 5px 20px 5px 0;
    border-right: 2px solid white;
  }

  a {
    color: white;
    transition: padding-right ease 100ms;

    &:hover {
      text-decoration: none;
      padding-right: 5px;
    }
  }
}

/*
 * Hero
 */

.hero {
  background: $main-color;
  background: linear-gradient(37deg, rgba(65, 17, 74, 0.84), rgba(33, 68, 106, 0.68)), url(/images/hero-background.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 0;
  height: 100vh;
  position: relative;
  margin-bottom: 0;

  .position-bottom {
    position: absolute;
    bottom: 20px;
    color: $text-color-bright;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
  }
}

/*
 * About section
 */

.profile {
  border-right: 1px solid #e5e5e5;
  flex-direction: column;
  justify-content: center;

  img {
    position: relative;
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 5px;
    font-weight: 400;
  }
}

.about {
  flex-direction: column;
  justify-content: center;
}

.testimonials-wrapper {
  overflow: hidden;
}

.testimonials {
  list-style: none;
  margin: 0;
  padding: 0;

  .element {
    display: none;
    padding: 20px 0 0 0;

    &.active {
      display: block;
    }

    .quote {
      font-size: 28px;
      font-style: italic;
      margin: 0;
      line-height: initial;
    }
    .author {
      font-style: italic;
      margin: 10px 0 0 0;
    }
  }
}

/*
 * Skills section
 */

.progress {
  margin-bottom: 12px;
}

#skills {
  color: white;

  h2 {
    margin-bottom: 20px;
  }

  .progress {
    border-radius: 0;
  }

  .progress-bar {
    padding-left: 10px;
    text-align: left;
    color: $main-color;
    background-color: $emphasize-color-1;
  }
}

/*
 * Education and work experience section
 */

#education {
  ul {
    list-style: none;
    border-left: 2px solid;
    padding-left: 20px;
    margin-left: 20px;

    li {
      margin-bottom: 1.5rem;

      h6 {
        margin-bottom: 0.2rem;
        font-weight: 600;
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

/*
 * Contact
 */

.vcard-wrapper {
  padding: 0 40px;
}

.vcard {
  text-align: center;
  padding: 40px;
  background: $box-background;

  img {
    position: relative;
    max-width: 80%;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 0;
  }
}

/*
 * Footer
 */

.copyright {
  margin: 0;
}

.footer-nav {
  list-style: none;

  li {
    float: right;
    margin-left: 20px;

    a {
      color: $text-color-bright;

      &:hover {
        color: $emphasize-color-1;
      }
    }
  }
}
