/*
 * Setup
 */
/* COLORS */
/* MEDIA QUERIES */
/*
 * General
 */
body {
  color: #021859;
}

.text-bright {
  color: #F2F2F2;
}

.text-dark {
  color: #021859;
}

.text-emphasize {
  color: #07C7F2;
}

.section {
  padding: 80px 0;
}

.section-slim {
  padding: 20px 0;
}

.section-emphasize {
  background: #021859;
}

@media screen and (min-width: 992px) {
  .space60.right {
    padding-right: 60px;
  }
  .space60.left {
    padding-left: 60px;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .space60.right {
    padding-right: 30px;
  }
  .space60.left {
    padding-left: 30px;
  }
}

.grecaptcha-badge {
  display: none !important;
}

/*
 * Sections
 */
.flex-vcenter {
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .bottom-space-md {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 992px) {
  .bottom-space-lg {
    margin-bottom: 40px;
  }
}

/*
 * Links
 */
a {
  color: #07C7F2;
  transition: color ease 200ms;
}
a:hover {
  text-decoration: none;
  color: #B52072;
  transition: color ease 200ms;
}

/*
 * Headlines
 */
h2.display-4 {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 577px) {
  h2.display-4 {
    font-size: 10vw;
  }
}

h3 {
  margin-bottom: 1.5rem;
}

/*
 * Buttons
 */
.transparent-btn {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
}
.transparent-btn:hover {
  background-color: #F2F2F2;
  color: #021859;
}

.transparent-btn-dark {
  color: #021859;
  border-radius: 0;
}
.transparent-btn-dark:hover {
  background-color: #fefefe;
  color: #021859;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background: #021859;
  border-color: #021859;
  border-width: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-primary:hover {
  background: #B52072;
  border-color: #B52072;
}

.btn-light {
  background: #07C7F2;
  border-color: #07C7F2;
  color: #021859;
  border-width: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-light:hover {
  color: #F2F2F2;
  background: #B52072;
  border-color: #B52072;
}

.btn-valign-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

/*
 * Navbar
 */
.floating-navbar {
  display: none;
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.hero-navbar {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .hero-navbar {
    display: none;
  }
}

.navbar-elements {
  list-style: none;
}
.navbar-elements li {
  text-align: right;
  padding: 5px 20px 5px 0;
  border-right: 2px solid white;
}
.navbar-elements a {
  color: white;
  transition: padding-right ease 100ms;
}
.navbar-elements a:hover {
  text-decoration: none;
  padding-right: 5px;
}

/*
 * Hero
 */
.hero {
  background: #021859;
  background: linear-gradient(37deg, rgba(65, 17, 74, 0.84), rgba(33, 68, 106, 0.68)), url(/images/hero-background.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 0;
  height: 100vh;
  position: relative;
  margin-bottom: 0;
}
@media screen and (max-width: 587px) {
  .hero h1 {
    font-size: 11vw;
  }
  .hero p {
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 767px) {
  .hero {
    padding: 120px;
  }
}
.hero .position-bottom {
  position: absolute;
  bottom: 20px;
  color: #F2F2F2;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

/*
 * About section
 */
.profile {
  border-right: 1px solid #e5e5e5;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 577px) and (max-width: 767px) {
  .profile {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .profile {
    border-right: none;
  }
}
.profile img {
  position: relative;
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
  .profile img {
    max-width: 250px;
  }
}
.profile h3 {
  margin-bottom: 5px;
  font-weight: 400;
}

.med-6 {
  flex-basis: unset;
}
@media screen and (min-width: 577px) and (max-width: 767px) {
  .med-6 {
    flex-basis: 50%;
  }
}

.about {
  flex-direction: column;
  justify-content: center;
}

.testimonials-wrapper {
  overflow: hidden;
}

.testimonials {
  list-style: none;
  margin: 0;
  padding: 0;
}
.testimonials .element {
  display: none;
  padding: 20px 0 0 0;
}
.testimonials .element.active {
  display: block;
}
.testimonials .element .quote {
  font-size: 28px;
  font-style: italic;
  margin: 0;
  line-height: initial;
}
.testimonials .element .author {
  font-style: italic;
  margin: 10px 0 0 0;
}

/*
 * Skills section
 */
.progress {
  margin-bottom: 12px;
}

#skills {
  color: white;
}
#skills h2 {
  margin-bottom: 20px;
}
#skills .progress {
  border-radius: 0;
}
#skills .progress-bar {
  padding-left: 10px;
  text-align: left;
  color: #021859;
  background-color: #07C7F2;
}

/*
 * Education and work experience section
 */
#education ul {
  list-style: none;
  border-left: 2px solid;
  padding-left: 20px;
  margin-left: 20px;
}
#education ul li {
  margin-bottom: 1.5rem;
}
#education ul li h6 {
  margin-bottom: 0.2rem;
  font-weight: 600;
}
#education ul li:last-child {
  margin-bottom: 0;
}

/*
 * Github
 */
@media screen and (max-width: 767px) {
  #projects .d-flex {
    justify-content: center;
  }
}

/*
 * Contact
 */
.contact-form #message {
  height: 152px;
  /* Hardcoded (shame!) -> gonna fix later */
}

.vcard-wrapper {
  padding: 0 40px;
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .vcard-wrapper {
    padding: 0;
  }
}

.vcard {
  text-align: center;
  padding: 40px;
  background: #f4f4f4;
  flex-direction: column;
}
.vcard .large-6 {
  flex-basis: unset;
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .vcard .large-6 {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 992px) and (min-width: 767px) {
  .vcard {
    flex-direction: row;
    align-items: center;
  }
}
.vcard img {
  position: relative;
  max-width: 80%;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.vcard h3 {
  margin-bottom: 0;
}

/*
 * Footer
 */
@media screen and (max-width: 767px) {
  #footer .col-md-6 {
    text-align: center;
  }
  #footer .col-md-6:first-child {
    margin-bottom: 10px;
  }
}

.copyright {
  margin: 0;
}

.footer-nav {
  list-style: none;
}
@media screen and (max-width: 767px) {
  .footer-nav {
    text-align: center;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
  }
}
.footer-nav li {
  float: right;
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .footer-nav li:last-child {
    margin-left: 0;
  }
}
.footer-nav li a {
  color: #F2F2F2;
}
.footer-nav li a:hover {
  color: #07C7F2;
}

/*# sourceMappingURL=style.css.map */
